.container{
    width: 100%;
}
#pat{
    background-color: gray;
    height: auto;
}
body {
    background-color: #e9ecef;
  }
  .instrument {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  img{
    width: 150px;
    height: 150px;
}
